/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4206)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [master]
GO
/****** Object:  Database [Evolent]    Script Date: 09-04-2018 16:38:35 ******/
CREATE DATABASE [Evolent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Evolent', FILENAME = N'E:\Ajay\Evolent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Evolent_log', FILENAME = N'E:\Ajay\Evolent_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Evolent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Evolent]
GO
USE [Evolent]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 09-04-2018 16:38:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](256) NOT NULL,
	[LastName] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PhoneNumber] [nvarchar](16) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 
GO
INSERT [dbo].[Contacts] ([ContactId], [FirstName], [LastName], [Email], [PhoneNumber], [IsActive], [IsDeleted]) VALUES (1, N'Ajaysinh', N'Jagtap', N'ajaysinh.jagtap@gmail.com', N'9011362100', 1, 0)
GO
INSERT [dbo].[Contacts] ([ContactId], [FirstName], [LastName], [Email], [PhoneNumber], [IsActive], [IsDeleted]) VALUES (2, N'Test1', N'User1', N'testUser1@gmail.com', N'9011362101', 1, 1)
GO
INSERT [dbo].[Contacts] ([ContactId], [FirstName], [LastName], [Email], [PhoneNumber], [IsActive], [IsDeleted]) VALUES (3, N'TestUser1', N'User', N'testuser1@gmail.com', N'9011262100', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
ALTER TABLE [dbo].[Contacts] ADD  CONSTRAINT [DF_Contacts_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Contacts] ADD  CONSTRAINT [DF_Contacts_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
USE [master]
GO
